*{ 
    padding: 0;
    margin: 0;
}
a{
    color:inherit;
    text-decoration: none;
}
.Medsos{
 
    padding: 5px 0;
    background-color: black;
}
.Medsos ul li{
    display:inline-block;
    color:white;
    font-size:18px;
    margin-right: 10px;}
.container{
    width:80%;
    margin:0 auto;
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header h1{
    float:left;
    padding:13px 50px;
    color:black;
}
header ul{
    float:right;
}
header ul li{
    display: inline-block;
}
header ul li a
{
    padding: 25px 15px;
    display : inline-block;
}
header ul li a:hover
{
    background-color: red;
    color:#fff;
}
.active
{ background-color: red;
    color:#fff;
}
.banner
{
    height: 100vh;
    width:100%;
    border:1px solid;
    background-image:url(../img/background-banner.jpg);
    background-size: cover;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: "";
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
.banner h1{
    color:white;
    background-color: black;
    font-size:45px;
    z-index: 1;
    padding:30px 25px;
    border: 5px solid white;
}

footer{
    padding:10px 0;
    background-color: black;
    text-align: center;
    color:#fff;
}
footer small{
    font-family:times new roman;
}

.main{
    width:550px;
    height:425px;
    background-color: #fff;
    margin: 5px auto;
    padding-top:20px;
    border-radius:10px;
    border:1px solid #eeee;
}
.main-1{
    width:1350px;
    height:670px;
    background-color: #fff;
    margin: 5px auto;
    padding-top:20px;
    border-radius:10px;
    border:1px solid #eeee;
}

.img{
    background-image: url(../img/profil.jpeg);
    
    background-size: cover;
    border-radius: 100px;
    width:150px;
    height:150px;
    margin:0 auto;
    border: 1px solid #eaeaea;
}
.img h2{
    text-align: center;
    font-size: 20px;
    margin:0;
    font-weight: bold;
}
.text{
    text-align: center;
    font-size: 15px;
    margin: 15px;
    color:#324e63;
}
.text p{
    margin:50px auto;
    padding-top: 20px;
    width:450px;
    height:auto;
    color:324e63;
}
.boddy{
    background-size: cover;
    text-align: center;
    font-family: 'quicksand',sans-serif;
    height: 100vh;
    width:100%;
    border:1px solid;
    background-image:url(../img/background-banner.jpg);
    background-size: cover;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
    
   
        
.boddy ul{
    margin-left:-45px;
    
}
.boddy li{
    list-style: none;
    display: inline-block;
    margin:15px 5px;
    text-align: center;
    }
    .main-2{
        width:1400px;
        height:455px;
        background-color: #fff;
        margin: 5px auto;
        padding-top:20px;
        border-radius:10px;
        border:1px solid #eeee;
        width:80%;
    }
    .main-2 table {
        background-color: aqua;
   
    }
    .main-2 td {
        text-align: left;
        
    }
    
    





